body{
    overflow-x: hidden;
}
.logo{
    position: absolute;
    width: 58px;
    height: 53px;
    left: 10px;
    top: 13px;
    cursor: pointer;
    transition: all 0.5s ease;
    }
.logo:hover{
    width: 68px;
    height: 62px;
    left: 8px;
    top: 5px;
}
.footer{
    position: absolute;
    width: 1440px;
    height: 80px;
    left: 0px;
    top: 0px;

    background: #333232;
    }
.main{

position: absolute;
width: 77px;
height: 23px;
left: 92px;
top: 28px;

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #fc9309;
text-decoration: none;
transition: all 1s ease;
}
.main:hover{
    color: #e65d28;
}
.znaki{
    position: absolute;
width: 272px;
height: 23px;
left: 217px;
top: 28px;

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #FFFFFF;
text-decoration: none;
transition: all 0.5s ease;
}
.znaki:hover{
    color: #fc4e09;
}
.background{
    position: absolute;
width: 1440px;
height: 721px;
left: 0px;
top: 79px;
z-index: -101;
}
.greenelipse{

position: absolute;
width: 616px;
height: 616px;
left: -136px;
top: 309px;
border-radius: 50%;
background: #8EBF00;
}
.greenp{

position: absolute;
width: 487px;
height: 224px;
left: 137px;
top: 93px;

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}
b{
    color: #CE0000;
}
.redelipse{
    position: absolute;
width: 616px;
height: 616px;
left: 999px;
top: -60px;
border-radius: 50%;
background: #BF0022;
z-index: -100;
}
.redp{
    position: absolute;
    width: 385px;
    height: 94px;
    left: 33px;
    top: 269px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: #FFF;
}
.znakidvg{
position: absolute;
width: 1440px;
height: 811px;
left: 0px;
top: 800px;

background: #D9D9D9;
}
.znakidvgh2{
    position: absolute;
    width: 868px;
    height: 75px;
    left: 286px;
    top: -24px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;

    /* identical to box height */

    color: #000000;

}
.znak1{
    position: absolute;
width: 262px;
height: 261px;
left: 104px;
top: 253px;
}
.pznak1{
    position: absolute;
width: 346px;
height: 47px;
left: 62px;
top: 147px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 47px;
/* identical to box height */

color: #0072BB;
}
.btnznak{
    position: absolute;
width: 294px;
height: 53.45px;
left: calc(50% - 294px/2 - 485px);
top: 549px;
background: linear-gradient(113.96deg, #0072BB 1.49%, #DBBEBF 101.44%);
border-radius: 25px;
border: none;
cursor: pointer;
transition: all 0.5s ease;
}
.btnznak:hover{
width: 327px;
height: 59px;
left: calc(50% - 327px/2 - 485.5px);

}
.pbtnznak{
    position: absolute;
    width: 289.05px;
    height: 22px;
    left: 4.95px;
    top: 0.8399999999999999px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15.8384px;
    line-height: 140%;

    /* or 22px */
    text-align: center;
    text-transform: uppercase;

    color: #000000;
}
